@using Viper.Classes.SQLContext;
@{
    List<string[]> tabLinks = (List<string[]>)(ViewData["tabLinks"] ?? new List<string[]>());
}

<div class="row gt-sm items-stretch" id="mainLayoutHeaderSections2">
    @foreach (string[] tabLink in tabLinks)
    {
        if (tabLink[0] == "https://ucdsvm.knowledgeowl.com/help")
        {
            <q-btn flat href="@Url.Content(tabLink[0])" icon="help" class="q-px-md q-py-sm">
                <q-tooltip>Help</q-tooltip>
            </q-btn>
            <q-separator dark vertical></q-separator>
        }
        else
        {
            <q-btn flat
                   href="@Url.Content(tabLink[0])"
                   label="@tabLink[1]"
                   class="q-px-md q-py-sm @(tabLink[1] == (string)(ViewData["SelectedTopNav"] ?? "") ? " selectedTopNav" : "")">
                @if (tabLink.Length >= 4 && tabLink[3] != "")
                {
                    <q-tooltip>@tabLink[3]</q-tooltip>
                }
            </q-btn>
            <q-separator dark vertical></q-separator>
        }
    }
</div>
@*
<q-toolbar id="mainLayoutHeaderSections" class="gt-sm items-stretch">
    @foreach (string[] tabLink in tabLinks)
    {
        if (tabLink[0] == "https://ucdsvm.knowledgeowl.com/help")
        {
            <q-btn flat href="@Url.Content(tabLink[0])" icon="help" class="q-px-md q-py-sm">
                <q-tooltip>Help</q-tooltip>
            </q-btn>
            <q-separator dark vertical></q-separator>
        }
        else
        {
            <q-btn flat
                   href="@Url.Content(tabLink[0])"
                   label="@tabLink[1]"
                   class="q-px-md q-py-sm @(tabLink[1] == (string)(ViewData["SelectedTopNav"] ?? "") ? " selectedTopNav" : "")">
                @if (tabLink.Length >= 4 && tabLink[3] != "")
                {
                    <q-tooltip>@tabLink[3]</q-tooltip>
                }
            </q-btn>
            <q-separator dark vertical></q-separator>
        }
    }
</q-toolbar>
*@
