@using Viper.Classes.SQLContext;
@model Viper.Areas.Directory.Models.DirectoryUser;
@{
    RAPSContext? rapsContext = (RAPSContext?)Context.RequestServices.GetService(typeof(RAPSContext));
    IUserHelper UserHelper = new UserHelper();
    ViewData["Title"] = "Directory";
}
<h1>Directory</h1>
<q-form @@submit="return false;">
    <q-input class="q-ml-xs q-mr-xs"
             dense
             clearable
             clear-icon="close"
             outlined
             debounce="300"
             placeholder="Search for users"
             v-model="userSearch"
             autofocus>
    </q-input>
    <q-toggle v-model="ucd"
              color="primary"
              label="Search all of UCD">
    </q-toggle>
    @if (Model.CanDisplayIDs)
    {
    <q-toggle v-model="ids"
              color="primary"
              label="Display IDs">
    </q-toggle>
    }
    <q-spinner v-if="spinner" color="primary" size="2em" style="margin-left: 2em;"></q-spinner>
</q-form>
    <div class="row q-pa-sm q-gutter-sm" id="directoryResults">
        <q-card v-for="user in results" class="col-2 col-xs-8 col-sm-5 col-md-8 col-lg-3 col-xl-2 block directory">
            <q-card-section class="grid row card_header" :class="[user.svm ? 'SVM' : '']">
                <a v-if="user.svm && user.mothraId" :href="'@HttpHelper.GetRootURL()/UserInfo/' + user.mothraId" :aria-label="'User information for ' + user.name" class="userinfo_button top_button">
                    <q-icon name="person" size="xs"></q-icon>
                    <q-tooltip>User Information</q-tooltip>
                </a>
                <a v-if="user.mailId" :href="'mailto:' + user.mailId + '@@ucdavis.edu'" :aria-label="'Email ' + user.mailId + '@@ucdavis.edu'" class="email_button top_button">
                    <q-icon name="email" size="xs"></q-icon>
                    <q-tooltip>Email {{user.mailId}}@@ucdavis.edu</q-tooltip>
                </a>
                @if (Model.CanEmulate)
                {
                <a v-if="user.svm" :href="'@HttpHelper.GetRootURL()/EmulateUser/' + user.loginId" :aria-label="'Emulate ' + user.name" class="emulate_button top_button">
                    <q-icon name="face" size="xs"></q-icon>
                    <q-tooltip>Emulate {{user.name}}</q-tooltip>
                </a>
                }
                <a v-if="ids && user.mothraId && user.loginId" :href="'@HttpHelper.GetOldViperRootURL()' + '/default.cfm?Page=AAUDCheck&mothraID=' + user.mothraId + '&loginID=' + user.loginId" :aria-label="'AAUD check for ' + user.name" class="AAUD_button top_button">
                    <q-icon name="account_circle" size="xs"></q-icon>
                    <q-tooltip>AAUD Check</q-tooltip>
                </a>
                <a v-if="ids && user.loginId" :href="'@HttpHelper.GetOldViperRootURL()' + '/default.cfm?Page=IDCardCheck&LoginID=' + user.loginId" :aria-label="'ID check for ' + user.name" class="ID_button top_button">
                    <q-icon name="account_box" size="xs"></q-icon>
                    <q-tooltip>ID Check</q-tooltip>
                </a>
                <a :href="'@HttpHelper.GetOldViperRootURL()' + '/default.cfm?Page=UnitHeads&MailID=' + user.mailId" v-if="ids && user.mailId" :aria-label="'MSO/CAO lookup for ' + user.name" class="MSO_button top_button">
                    <q-icon name="supervisor_account" size="xs"></q-icon>
                    <q-tooltip>MSO/CAO Lookup</q-tooltip>
                </a>
                @if (Model.CanSeeUCPathInfo)
                {
                    @:
                    <a :href="'@HttpHelper.GetOldViperRootURL()' + '/default.cfm?Page=UCPathInfo&emplid=' + user.employeeId" v-if="ids && user.employeeId" :aria-label="'UCPath info for ' + user.name" class="UCPath_button top_button">
                        <q-icon name="school" size="sm"></q-icon>
                        <q-tooltip>UCPath Info</q-tooltip>
                    </a>
                }
                @if (Model.CanSeeAltPhoto)
                {
                    @:
                    <a :href="'@HttpHelper.GetOldViperRootURL()' + '/default.cfm?Page=alternatePhoto&iamID=' + user.iamId + '&mailID=' + user.mailId + '&empName=' + encodeURIComponent(user.name)" v-if="ids && user.iamId && user.mailId" :aria-label="'Alternate photo for ' + user.name" class="photo_button top_button">
                        <q-icon name="photo_camera" size="xs"></q-icon>
                        <q-tooltip>Alt. Photo</q-tooltip>
                    </a>
                }
        </q-card-section>
            <q-card-section class="row">
                <q-card-section class="col photo">
                    <q-img
                        :src="'@HttpHelper.GetOldViperRootURL()/public/utilities/getbase64image.cfm?mailid=' + user.mailId + '&altphoto=1'"
                        :alt="'Photo of ' + user.name"
                        class="photo_avatar"
                        fit="cover"
                    >
                        <template #error>
                            <div class="absolute-full flex flex-center bg-grey-3 text-grey-8">
                                <q-icon name="person" size="xl" />
                            </div>
                        </template>
                    </q-img>
                </q-card-section>
                <q-card-section class="col">
                    <div v-if="ids && user.userName" class="directory-username">{{user.userName}}</div>
                    <h2 class="directory-name">{{user.name}}</h2>
                    <div v-if="user.title" class="directory-detail">{{user.title}}</div>
                    <div v-if="user.department" class="directory-detail">{{user.department}}</div>
                    <div v-if="user.ucdStudentLevel" class="directory-level">{{user.ucdStudentLevel}}</div>
                    <div v-if="user.svm && ucd" class="directory-tag">SVM</div>
                    <div class="contact">
                        <div class="mail" v-if="user.email"><a :href="'mailto:' + user.email">{{user.email}}</a></div>
                        <div class="host" v-if="ids && user.emailHost">[{{user.emailHost}}]</div>
                        <div class="phone" v-if="user.phone">Ph: {{ user.phone }}</div>
                        <div class="mobile" v-if="user.mobile">M: {{ user.mobile }}</div>
                        <div class="nextel" v-if="user.ldpager">Pager: {{ user.ldpager }}</div>
                        <div class="nextel" v-if="user.nextel">M: {{ user.nextel }} (VMACS)</div>
                        <div class="address" v-if="user.postalAddress">{{ user.postalAddress }}</div>
                    </div>
            </q-card-section>
            </q-card-section>
            <q-separator v-if="ids && (user.spridentId || user.pidm || user.employeeId || user.iamId || user.mothraId || user.mivId)"></q-separator>
            <q-card-section class="row ids" v-if="ids && (user.spridentId || user.pidm || user.employeeId || user.iamId || user.mothraId || user.mivId)">
                <div v-if="user.spridenId">
                    <span>BannerID:</span>
                    @if (Model.CanSeeAllStudents) {
                    @: <a :href="'@HttpHelper.GetOldViperRootURL()' + '/students/sis/default.cfm?Page=AssignPidmAndRedirect&Pidm=' + user.spridenId + '&JumpPage=Home'">{{ user.spridenId }}</a>
                    } else {
                    @: {{ user.spridenId }}
                    }
                </div>
                <div v-if="user.pidm"><span>PIDM:</span> {{ user.pidm }}</div>
                <div v-if="user.employeeId"><span>EmployeeID:</span> {{ user.employeeId}}</div>
                <div v-if="user.iamId"><span>IAMID:</span> {{ user.iamId }}</div>
                <div v-if="user.mothraId"><span>MothraID:</span> {{ user.mothraId }}</div>
                <div v-if="user.mivId"><span>MIVID:</span> {{ user.mivId }}</div>
            </q-card-section>
        </q-card>
    </div>

@section Scripts {
    <script asp-add-nonce="true">
        createVueApp({
            data() {
                return {
                    userSearch: getItemFromStorage("directory_search") ?? "",
                    ucd: getItemFromStorage("directory_ucd") ?? false,
                    ids: getItemFromStorage("directory_ids") ?? false,
                    spinner: false,
                    results: []
                }
            },
            methods: {
                findUsers: async function () {
                    this.spinner = false;
                    this.results = [];
                    var urlBase = "@Url.Content("~/Directory/search/")" + this.userSearch;
                    if (this.ucd) {
                        urlBase += "/ucd"
                    }
                    if (this.userSearch.length >= 2) {
                        this.spinner = true;
                        this.results = (await viperFetch(this, urlBase))
                        this.spinner = false;
                    }
                }
            },
            mounted() {
                this.findUsers();
            },
            watch: {
                userSearch: function () {
                    putItemInStorage("directory_search", this.userSearch);
                    putItemInStorage("directory_ucd", this.ucd);
                    this.findUsers();
                },
                ucd: function () {
                    putItemInStorage("directory_search", this.userSearch);
                    putItemInStorage("directory_ucd", this.ucd);
                    this.findUsers();
                },
                ids: function () {
                    putItemInStorage("directory_search", this.userSearch);
                    putItemInStorage("directory_ids", this.ids);
                    this.findUsers();
                }
            }
        })
    </script>
}