@using Viper.Classes.SQLContext;
@model Viper.Areas.Directory.Models.UserInfoResult;
@{
        RAPSContext? rapsContext = (RAPSContext?)Context.RequestServices.GetService(typeof(RAPSContext));
        ViewData["Title"] = "User Information";

}
<article class="userinfo">
    <!--- Directiory -------------------------------------------------------------------------------------- --->
    <div class="directory">
        <h2><a href="/default.cfm?page=directory">Directory Information</a></h2>
        <span class="photo"><img src="/userPhoto.cfm?mailID=#user.mailid#" width="87" height="111" border="0" /></span>
        <span class="photo2"><img src="/userPhoto.cfm?mailID=#user.mailid##altphoto#" width="87" height="111" border="0" /></span>
        <h3>@Model.DisplayFullName</h3>
        <ul>
            <li>@Model.Title</li>
            <li>@Model.Department</li>
            <li>@Model.Email (@Model.EmailHost)</li>
            <li><b>Login ID:</b> @Model.LoginId</li>
            <li><b>URI:</b> @Model.URI</li>
            <li><b>Phone:</b> @Model.Phone</li>
            <li><b>Mobile:</b> @Model.Mobile</li>
            <li><b>Pager:</b> @Model.Pager</li>
            <li><b>Address:</b> @Model.PostalAddress</li>
            <li><b>Student ID:</b> @Model.StudentId</li>
            <li><b>Mothra ID:</b> @Model.MothraId</li>
            <li><b>IAM ID:</b> @Model.IamId<br /><i>AAUD IAM ID mismatch: #user.iamID#</i></li>
            <li><b>Employee ID:</b> @Model.EmployeeId</li>
            <li><b>PIDM:</b> @Model.Pidm</li>
            <li><b>MIV ID:</b> @Model.MivId</li>
        </ul>
    </div>
    <!--- Employee -------------------------------------------------------------------------------------- --->
    <div class="employee">
        <h2><a href="/faculty/default.cfm?page=redirectToPublic&amp;mivID=#user.miv_id#" target="u">Employee Information</a></h2>
        <ul>
            <li><b>Employee ID:</b> @Model.EmployeeId</li>
            <li><b>Primary Title:</b> @Model.EmployeePrimaryTitle</li>
            <li><b>School Division:</b> @Model.EmployeeSchoolDivision</li>
            <li><b>Status:</b> @Model.EmployeeStatus</li>
            <li><b>Term:</b> @Model.EmployeeTerm</li>
            <li><b>Home Department:</b> @Model.EmployeeHomeDepartment</li>
            <li><b>Effort Home Department:</b> @Model.EmployeeEffortHomeDepartment</li>
            <li><b>Teaching Home Department:</b> @Model.EmployeeTeachingHomeDepartment</li>
            <li><b>Teaching Percent Full-time:</b> @Model.EmployeeTeachingPercentFulltime</li>
        </ul>
    </div>
    <!--- Student -------------------------------------------------------------------------------------- --->
    <div class="student">
        <h2><a href="/students/sis/default.cfm?Page=SelectStudent&amp;pidm=#user.pidm#" target="u">Student Information</a></h2>
        <ul>
            <li><b>Prior Name</b> @Model.StudentPriorName</li>
            <li><b>Banner ID</b> @Model.StudentBannerId</li>
            <li><b>Confidential?</b> @Model.StudentConfidential</li>
            <li><b>Student Status</b> @Model.StudentStatus</li>
            <li><b>Primary Major</b> @Model.StudentPrimaryMajor</li>
            <li><b>All Majors</b> @Model.StudentAllMajors</li>
            <li><b>Registration Status</b> @Model.StudentRegistrationStatus</li>
            <li><b>Class Level</b> @Model.StudentClassLevel</li>
            <li><b>Class Of</b> @Model.StudentClassOf</li>
        </ul>
    </div>
    <!--- IAM Information -------------------------------------------------------------------------------------- --->
    <div class="iam">
        <h2><a href="https://iam.ucdavis.edu" target="u">IAM Information</a></h2>
        <ul>
            <li><b>IAM ID:</b> @Model.IamId</li>
            <li><b>PPS ID:</b> @Model.PPSId</li>
            <li><b>Full Name:</b> @Model.OFullName</li>
            <li><b>Employee?</b> @Model.IsEmployee</li>
            <li><b>HS Employee?</b> @Model.IsHSEmployee</li>
            <li><b>Faculty?</b> @Model.IsFaculty</li>
            <li><b>Student?</b> @Model.IsStudent</li>
            <li><b>Staff?</b> @Model.IsStaff</li>
            <li><b>External?</b> @Model.IsExternal</li>
        </ul>
        <ul>
            <li><b>Title:</b> @Model.AssociationsTitle (@Model.AssociationsTitleCode)</li>
            <li><b>Department:</b> #associations.deptDisplayName# (#associations.deptCode#)</li>
            <li><b>Admin Department:</b> #associations.adminDeptDisplayName# (#associations.adminDeptAbbrev# #associations.adminDeptCode#)</li>
            <li><b>Appointment Department:</b> #associations.apptDeptDisplayName# (#associations.apptDeptAbbrev# #associations.apptDeptCode#)</li>
            <li><b>Position Type:</b> #associations.positionType#</li>
            <li><b>Employee Class:</b> #associations.emplClassDesc#</li>
            <li><b>Percent Full-time:</b> #showPercent(associations.percentFullTime)#</li>
            <li><b>Association:</b> #showDate(associations.assocStartDate)# &ndash; #showDate(associations.assocEndDate, "present")#</li>
        </ul>
    </div>
    <!--- Roles and permissions ------------------------------------------------------------------------ --->
    <div class="roles">
        <h2><a href="/RAPS/" target="u">System Roles</a></h2>
        <table>
            <thead>
                <tr><th>#perm#</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>#permFormat(p["displayName"][r])#</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="permissions">
        <h2>System Permissions</h2>
        <ul class="tree">
            <li>
                <details>
                    <summary>#p["summary"]# (#p["count"]#)</summary>
                    <ul>
                        <li>#q#</li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
    <!--- UC Path -------------------------------------------------------------------------------------- --->
    <div class="ucpath">
        <h2><a href="/default.cfm?Page=UCPathInfo&emplid=#user.employee_ID#" target="u">UC Path</a></h2>
        <ul>
            <li><b>Roles:</b> #ucpath_flags#</li>
        </ul>
        <ul>
            <li><b>Position:</b> #ucpath.jobcode# #ucpath.jobcode_desc# &mdash; #ucpath.deptID# #ucpath.dept_desc#</li>
            <li><b>Status:</b> #ucpath.jobstatus# (#ucpath.empl_status#: #ucpath.job_status_desc#)</li>
            <li><b>Effective:</b> #showDate(ucpath.position_effdt)# &ndash; #showDate(ucpath.expected_end_date,"present")#</li>
            <li><b>FTE:</b> #showPercent(ucpath.FTE)#</li>
            <li><b>Union:</b> #ucpath.UNION_CD#</li>
            <li><b>Reports to:</b> #ucpath.reportsToName#, #ucpath.reportsToPosition#</li>
        </ul>
    </div>
    <div class="upcpath_history">
        <h3>UCPath History</h3>
        <table>
            <thead>
                <tr><th>Job Description</th><th>Action Description</th><th>Effective Date</th><th>Reports To</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>#ucpath_history.jobcode# #ucpath_history.jobcode_desc# &mdash; #ucpath_history.deptID# #ucpath_history.dept_desc#</td>
                    <td>#ucpath_history.action_descr#</td>
                    <td>#showDate(ucpath_history.position_effdt)#</td>
                    <td class="just">#ucpath_history.reportsToName#, #ucpath_history.reportsToPosition#</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--- ID Cards ------------------------------------------------------------------------------------- --->
    <div class="idCards">
        <h2><a href="/IDCards/default.cfm" target="u">ID Cards</a></h2>
        <table>
            <thead>
                <tr><th>Card Number</th><th>Card Info</th><th>Status</th><th>Applied</th><th>Issued</th><th colspan="2">Deactivated</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">#cards.idcard_number#</td>
                    <td class="just">#cards.idcard_displayname# #cards.idcard_lastname# / #cards.idcard_line2#</td>
                    <td>#cards.statusdescription#</td>
                    <td>#showDate(cards.idcard_applieddate)#</td>
                    <td>#showDate(cards.idcard_issuedate)#</td>
                    <td>#cards.deactivatedreason#</td>
                    <td>#showDate(cards.idcard_deactivateddate)#</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--- Keys -------------------------------------------------------------------------------------- --->
    <div class="keys">
        <h2><a href="/facilities/keys/default.cfm?page=PersonDetails&amp;personid=#user.mothraid#" target="u">Keys Assigned</a></h2>
        <table>
            <thead>
                <tr><th>Access Description</th><th>Key Number</th><th>Cut Number</th><th>Issued</th></tr>
            </thead>
            <tbody>
                <tr><td>#keys.accessDescription#</td><td>#keys.keynumber#</td><td>#keys.cutNumber#</td><td>Issued #showDate(keys.issuedDate)# by #keys.issued_by#</td></tr>
            </tbody>
        </table>
    </div>
    <!--- Loans -------------------------------------------------------------------------------------- --->
    <div class="loans">
        <h2><a href="/cats/loaner/default.cfm?page=loans" target="u">Loaner Equipment</a></h2>
        <table>
            <thead>
                <tr><th>Asset</th><th>Loan Date</th><th>Due Date</th><th>Comments</th></tr>
            </thead>
            <tbody>
                <tr><td>#loans.asset_name#</td><td>#showDate(loans.loan_date)#</td><td>#showDate(loans.loan_due_date)#</td><td>#loans.loan_comments#</td></tr>
            </tbody>
        </table>
    </div>
    <!--- Instinct ----------------------------------------------------------------------------------- --->
    <div class="instinct">
        <h2>Instinct</h2>
        <ul>
            <li><b>Instinct ID:</b> #instinct.id#</li>
            <li><b>Instinct Username:</b> #instinct.username#</li>
            <li><b>Roles:</b> #arrayToList(instinct.roles,", ")#</li>
            <li><b>Status:</b> #instinct.status#</li>
            <li><b>Password expires:</b> #showDate(instinct.passwordExpiresAt)#</li>
            <li><b>Active account?:</b> #showYesNo(instinct.isActive)#</li>
        </ul>
    </div>
    <!--- Active Directory Group Membership -------------------------------------------------------------------------------------- --->
    <div class="adGroup">
        <h2>Active Directory Group Membership</h2>
        <p class="note">Information about ucsvm, ad.vmth, vetmed, and svm is not yet available.</p>
        <ul>
            <!---<li><b>GUID:</b> #ad.objectGUID#</li>--->
            <li><b>Display Name:</b> #ad.displayName#</li>
            <li><b>Mail:</b> #ad.mail#</li>
            <li><b>SAM Account Name:</b> #ad.samAccountName#</li>
            <li><b>User Principal Name:</b> #ad.userprincipalName#</li>
            <li><b>Distinguished Name:</b> #permFormat(ad.distinguishedName)#</li>
        </ul>
        <h3>Member of:</h3>
        <ul>
            <li>
                <details>
                    <summary>#domain#</summary><ul>
                        <li>#m#</li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</article>
